<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        Node JS Project
        22MIC0174
        Karan Khatri

        using Actions
    </body>
</html>